.noto-titlebar-left:dir(ltr),
.noto-titlebar-right:dir(rtl) {
    border-top-right-radius: 0;
}

.noto-titlebar-right:dir(ltr),
.noto-titlebar-left:dir(rtl) {
    border-top-left-radius: 0;
}

/* Hack: Move separator by 1px so that it aligns with the sidebar */
.titlebar > separator:dir(ltr) { margin-left: -1px; }
.titlebar > headerbar:first-child:dir(ltr) { margin-right: 1px; }
.titlebar > separator:dir(rtl) { margin-right: -1px; }
.titlebar > headerbar:first-child:dir(rtl) { margin-left: 1px; }
